.loaderContainer{
    height: auto;
    position: absolute;
}
/* #loader {
    width: 120px;
    height: 20px;
    /* top: 50%; */
    /* left: 50%; */
    
    /* z-index: 1000;
    display: none;
    background: linear-gradient(#514b82 0 0) left -40px top 0 / 40px 100% no-repeat #eee;
    -webkit-mask: conic-gradient(from 90deg at 5px 5px, #0000 25%, #000 0) 0 0 / calc((100% - 5px) / 5) calc(100% - 5px);
    animation: l10 1s infinite linear; */
/* HTML: <div class="loader"></div> 
}    @keyframes l10 {
    100% {background-position: right -40px top 0}
} */



/* HTML: <div class="loader"></div> */
#loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: relative;
    z-index: 1000;
    display: none;
  }
  #loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }
  @keyframes l6 {
      100% {inset:0}
  }